*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.log
app/src/main/res/drawable/ic_check_white_24dp_BACKUP_1121.xml
app/src/main/res/drawable/ic_check_white_24dp_BASE_1121.xml
app/src/main/res/drawable/ic_check_white_24dp_LOCAL_1121.xml
app/src/main/res/drawable/ic_check_white_24dp_REMOTE_1121.xml
